// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.calculation {
  label {
    display: block;
    padding: 20px;
    font-size: 34px;
  }

  .input {
    label {
      background-color: #40BF4B;
      color: white;
    }

    select.activity_variant {
      width: 100%;
    }

    input.quantity {
      width: 79%;
    }

    select.unit {
      width: 20%;
    }
  }

  .output {
    label {
      background-color: #6cc974;
      color: white;
    }
  }

}