header.topbar {
  background-color: #fff;
  position: relative;

  .avatar {
    position: absolute;
    left: 20px;
    top: -10px;
    border-radius: 50px;
  }

  h1 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;

    .logo {
      height: auto;
      width: 150px;
    }
  }

  .logout {
    float: right;
  }
}